<div class="row">
  <div class="col-lg-8">
    <%= link_to page_url(:product_backlog), class: 'prj-MenuItem' do %>
      <div class="prj-MenuItem_Header">
        <h3 class="prj-MenuItem_Title">
          プロダクトバックログ
        </h3>
      </div>
      <div class="prj-MenuItem_Body">
        <i class="prj-Icon prj-Icon_PBL"></i>
        <ul class="prj-MenuItem_Help">
          <li>
            フィーチャーの管理
          </li>
          <li>
            プロダクトの規模の見積り
          </li>
          <li>
            優先順位の変更
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
  <div class="col-lg-8">
    <%= link_to page_url(:product_backlog), class: 'prj-MenuItem' do %>
      <div class="prj-MenuItem_Header">
        <h3 class="prj-MenuItem_Title">
          タスクかんばん
        </h3>
      </div>
      <div class="prj-MenuItem_Body">
        <i class="prj-Icon prj-Icon_Kanban"></i>
        <ul class="prj-MenuItem_Help">
          <li>
            作業進捗の確認
          </li>
          <li>
            作業計画
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
  <div class="col-lg-8">
    <%= link_to page_url(:release_plan), class: 'prj-MenuItem' do %>
      <div class="prj-MenuItem_Header">
        <h3 class="prj-MenuItem_Title">
          リリース計画
        </h3>
      </div>
      <div class="prj-MenuItem_Body">
        <i class="prj-Icon prj-Icon_ReleasePlan"></i>
        <ul class="prj-MenuItem_Help">
          <li>
            なにをリリースするか
          </li>
          <li>
            いつリリースするか
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <%= link_to page_url(:product_backlog), class: 'prj-MenuItem' do %>
      <div class="prj-MenuItem_Header">
        <h3 class="prj-MenuItem_Title">
          イテレーション
        </h3>
      </div>
      <div class="prj-MenuItem_Body">
        <i class="prj-Icon prj-Icon_Iteration"></i>
        <ul class="prj-MenuItem_Help">
          <li>
            スケジュール
          </li>
          <li>
            イテレーションの設定
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
  <div class="col-lg-8">
    <%= link_to page_url(:product_backlog), class: 'prj-MenuItem' do %>
      <div class="prj-MenuItem_Header">
        <h3 class="prj-MenuItem_Title">
          チーム
        </h3>
      </div>
      <div class="prj-MenuItem_Body">
        <i class="prj-Icon prj-Icon_Team"></i>
        <ul class="prj-MenuItem_Help">
          <li>
            メンバーの管理
          </li>
          <li>
            メンバーの招待
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
  <div class="col-lg-8">
    <%= link_to page_url(:product_backlog), class: 'prj-MenuItem' do %>
      <div class="prj-MenuItem_Header">
        <h3 class="prj-MenuItem_Title">
          プロジェクト
        </h3>
      </div>
      <div class="prj-MenuItem_Body">
        <i class="prj-Icon prj-Icon_Project"></i>
        <ul class="prj-MenuItem_Help">
          <li>
            プロジェクト情報の変更
          </li>
          <li>
            プロジェクトのアーカイブ
          </li>
          <li>
            プロジェクトの削除
          </li>
        </ul>
      </div>
    <% end -%>
  </div>
</div>
