<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <%= link_to 'プロダクトバックログ', page_url(:product_backlog) -%>
    <span class="current">
      フィーチャーの編集
    </span>
  </div>
</div>
<div class="row sw-Main">
  <div class="col-lg-15 mx-auto">
    <div class="fe-Background fe-Background-lg">
      <div class="fe-Detail">
        <form>
          <div class="form-group">
            <label>
              フィーチャーの内容
            </label>
            <textarea class="form-control form-control-lg" rows="3" placeholder="">ユーザーとして、Todoリストが自動で保存されて欲しい。それは、保存するのを忘れることがあるからだ。</textarea>
          </div>
          <div class="form-group">
            <label class="frm-Element-block">
              フィーチャーの大きさ
            </label>
            <% [0,1,2,3,5,8,13,20,40,100,'?'].each do |n| %>
              <div class="form-check form-check-inline">
                <input type="radio" id="point<%= n %>" name="point" class="form-check-input">
                <label class="fe-PointLabel" for="point<%= n %>">
                  <%= n %>
                </label>
              </div>
            <% end -%>
          </div>
          <div class="form-group">
            <label>
              他のフィーチャーの大きさを確認
            </label>
            <select class="form-control" readonly>
              <option>
                User Story AAA (5)
              </option>
              <option>
                User Story BBB (13)
              </option>
              <option>
                User Story CCC (13)
              </option>
            </select>
          </div>
          <div class="frm-Actions">
            <button class="btn btn-success">
              保存する
            </button>
            <%= link_to 'キャンセル', page_url(:show_feature), class: 'frm-Action_Cancel' %>
          </div>
        </form>
      </div>
      <div class="fe-AcceptanceCriteria">
        <div class="fe-AcceptanceCriteria_Header">
          <h2 class="fe-AcceptanceCriteria_Title">
            受け入れ基準:
          </h2>
        </div>
        <div class="fe-AcceptanceCriteria_Body">
          <div class="fe-AcceptanceCriterion st-Editable">
            <i class="icon-Check icon-Check-disabled"></i>
            <span class="fe-AcceptanceCriterion_Content">
              タイトル編集後に自動保存されること
            </span>
            <%= link_to '編集する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
            <%= link_to '削除する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
          </div>
          <div class="fe-AcceptanceCriterion st-Editable">
            <i class="icon-Check icon-Check-disabled"></i>
            <span class="fe-AcceptanceCriterion_Content">
              Todo編集後に自動保存されること
            </span>
            <%= link_to '編集する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
            <%= link_to '削除する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
          </div>
          <div class="fe-AcceptanceCriterion st-Editable">
            <i class="icon-Check icon-Check-disabled"></i>
            <span class="fe-AcceptanceCriterion_Content">
              Todo削除後に自動保存されること
            </span>
            <%= link_to '編集する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
            <%= link_to '削除する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
          </div>
          <div class="fe-AcceptanceCriterion st-Editable">
            <i class="icon-Check icon-Check-disabled"></i>
            <span class="fe-AcceptanceCriterion_Content">
              Todo完了後に自動保存されること
            </span>
            <%= link_to '編集する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
            <%= link_to '削除する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
          </div>
          <div class="fe-AcceptanceCriterion st-Editable">
            <i class="icon-Check icon-Check-disabled"></i>
            <span class="fe-AcceptanceCriterion_Content">
              Todo未完了後に自動保存されること
            </span>
            <%= link_to '編集する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
            <%= link_to '削除する', '#', class: 'st-Editable_Action sw-Link sw-Link-sm' %>
          </div>
        </div>
        <div class="fe-AcceptanceCriterionForm">
          <form>
            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
