<div class="row sw-Main">
  <div class="col">
    <ul>
      <li>
        <%= link_to 'Sign in', page_url(:sign_in) %>
      </li>
      <li>
        <%= link_to 'New Feature', page_url(:new_feature) %>
      </li>
      <li>
        <%= link_to 'Product Backlog', page_url(:product_backlog) %>
      </li>
      <li>
        <%= link_to 'Feature Detail', page_url(:show_feature) %>
      </li>
      <li>
        <%= link_to 'Edit Feature', page_url(:edit_feature) %>
      </li>
      <li>
        <%= link_to 'Relase Plan', page_url(:release_plan) %>
      </li>
      <li>
        <%= link_to 'Join to team', page_url(:join_to_team) %>
      </li>
    </ul>
  </div>
</div>
