<% items = [
  { id: 10, content: %w(ユーザーとして プロダクトバックログアイテムを追加したい それは、プロダクトのアイデアを記録したいから), point: 5 },
  { id: 11, content: %w(ユーザーとして プロダクトバックログアイテムの優先順位を入れ替えたい それは、効率的にプロダクトを開発したいから), point: 8 },
  { id: 12, content: %w(ユーザー登録), point: 8 },
  { id: 13, content: %w(ログイン), point: 13 },
] %>
<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'プロジェクトホーム', '' -%>
    <span class="current">
      プロダクトバックログ
    </span>
  </div>
</div>
<div class="row">
  <div class="col-lg-16 mx-auto">
    <div class="st-Sheet">
      <div class="st-Sheet_Header">
        <h1 class="sw-Content_Title">
          プロダクトバックログ
        </h1>
        <div class="ml-auto">
          <%= link_to page_url(:new_product_backlog_item), class: 'btn btn-sm btn-outline-success' do -%>
            <i class="fa fa-plus"></i>
            追加する
          <% end -%>
        </div>
      </div>
      <div class="st-Sheet_Body">
        <div class="pbl-List">
          <% items.each do |i| -%>
            <div class="pbl-Item">
              <i class="pbl-Item_Handle"></i>
              <%= link_to page_url(:product_backlog_item), class: 'pbl-Item_Main' do %>
                <div class="pbl-Item_Body">
                  <span class="pbl-Item_Id">
                    #<%= i[:id] %>
                  </span>
                  <p class="pbl-Item_Content">
                    <%= i[:content].join('<br>').html_safe %>
                  </p>
                </div>
                <div class="pbl-Item_Tail">
                  <span class="pbl-Item_Amount">
                    <%= i[:point] %>
                  </span>
                </div>
              <% end -%>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>
