<div class="row">
  <div class="col-lg-16 mx-auto">
    <div class="st-GroundBlock st-GroundBlock-mt">
      <div class="st-GroundBlock_Header">
        <h1 class="sw-Content_Title">
          あなたのプロジェクト
        </h1>
        <span class="st-GroundBlock_Line"></span>
        <div class="ml-auto">
          <%= link_to page_url(:new_project), class: 'btn btn-sm btn-outline-success' do -%>
            <i class="fa fa-plus"></i>
            追加する
          <% end -%>
        </div>
      </div>
    </div>
    <div class="st-GroundBlock_Body">
      <div class="prjl_Item">
        <%= link_to '', class: 'prjl_Item_ProjectNameLink' do %>
          <h2 class="prjl_Item_ProjectName">
            プロジェクトAlpha
          </h2>
        <% end -%>
        <div class="prjl_Item_Navs">
          <ul class="prjl-Item_LinkList">
            <li>
              <%= link_to 'ホーム', '' %>
            </li>
            <li>
              <%= link_to 'プロダクトバックログ', '' %>
            </li>
            <li>
              <%= link_to 'スプリントバックログ', '' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
