<div class="row">
  <div class="breadcrumbs">
    <%= link_to 'Leave me alone!', page_url(:project) -%>
    <%= link_to 'プロダクトバックログ', page_url(:product_backlog) -%>
    <span class="current">
      フィーチャーの詳細
    </span>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 mx-auto">
    <div class="sw-Main">
      <div class="fe-Background fe-Background-lg">
        <div class="fe-Detail">
          <div class="fe-Detail_Section">
            <h1 class="fe-Title fe-Title-lg">
              Todoリストの自動保存
            </h1>
            <%= link_to '編集する', '#', class: 'fe-Detail_Edit sw-Link sw-Link-sm' %>
          </div>
          <div class="fe-Detail_Section">
            <p class="fe-Description">
              ユーザーとして、Todoリストが自動で保存されて欲しい。
              <br>
              それは、保存するのを忘れることがあるからだ。
            </p>
            <%= link_to '編集する', '#', class: 'fe-Detail_Edit sw-Link sw-Link-sm' %>
          </div>
          <div class="fe-Detail_Section">
            <div class="fe-Detail_Point">
              <span class="fe-Point">
                13
              </span>
              <p class="fe-PointBase">
                Todoの削除
                <span class="fe-Point">
                  2
                </span>
              <p>
            </div>
            <%= link_to '編集する', '#', class: 'fe-Detail_Edit sw-Link sw-Link-sm' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
